language: python
python: 2.7
sudo: false
cache:
  directories:
  - eggs
  - parts/node
env:
- PLONE_VERSION=4.2
- PLONE_VERSION=4.3
- PLONE_VERSION=5.0
matrix:
  allow_failures:
  - env: PLONE_VERSION=5.0
  fast_finish: true
install:
- sed -i "s#test-4.3#test-$PLONE_VERSION#" buildout.cfg
- sed -i "s#versions-4.3#versions-$PLONE_VERSION#" buildout.cfg
- python bootstrap.py
- bin/buildout annotate
- bin/buildout -Nq
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- firefox -v
script:
- bin/code-analysis
- bin/test
after_success:
- bin/createcoverage -t "--layer=!Robot"
- pip install --upgrade coveralls
- coveralls
notifications:
  irc: irc.freenode.org#simplesconsultoria
