[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
    http://good-py.appspot.com/release/dexterity/1.2.1

package-name = collective.polls
package-extras = [test]
test-eggs = Pillow

parts += i18ndude omelette

[instance]
eggs +=
    Pillow
    sauna.reload
zope-conf-additional = %import sauna.reload

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']
