[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg

package-name = collective.polls
package-extras = [test]
eggs = Pillow
test-eggs = Pillow

parts += omelette createzopecoverage

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[createzopecoverage]
recipe = createzopecoverage
