.poll-results-numbers {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid var(--polls-border);
    text-align: left;
  }

  td {
    font-variant-numeric: tabular-nums;
    text-align: right;
  }

  thead th:not(:first-child) {
    text-align: right;
  }
}
